{% extends "base.html" %}

{% block content %}
  {% for birthday in page_obj %}
    <div class="row"> <!-- Обернём каждую запись в тег div -->
      <div class="col-4"> <!-- Текст обернём в отдельный вложенный div -->
        {% if birthday.image %}
          <!-- У объекта картинки image есть атрибут url — его и укажем в src -->
          <img src="{{ birthday.image.url }}" height="100">
        {% endif %}
      </div>   
      <!-- Вторая "колонка" в строке, её ширина — 10/12 -->
      <div class="col-8">  
        <div>               
          {{ birthday.first_name }} {{ birthday.last_name }} - {{ birthday.birthday }}
        </div>
        <div>
          <p><a href="{% url 'birthday:detail' birthday.id %}">Сколько до дня рождения?</a></p>
          <p><a href="{% url 'birthday:edit' birthday.id %}">Изменить запись</a></p>
          <p><a href="{% url 'birthday:delete' birthday.id %}">Удалить запись</a></p>      
        </div>
      </div>  
      {% if not forloop.last %}
        <hr class="mt-3">
      {% endif %}
    </div>
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %} 